/* Colors */
$dark-grey: #363333;
$light-grey: #948f8f;
$light-red: #bf3a30;
$blue: #4b7cfb;
/* Global style */
* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
  background-image: linear-gradient(to right, #4b4ea2, #e14444);
}
h1,
h2,
h3,
h4 {
  font-family: "Permanent Marker", cursive;
}
hr {
  border: white solid 1px;
}
img {
  cursor: pointer;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 99999;
}
.centerContent {
  text-align: center;
}
.btn {
  color: white;
  background-color: $blue;
  cursor: pointer;
  border-radius: 10px;
}
.form {
  display: none;
}
/* Cards style */
.cardPool {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.card {
  background-color: $dark-grey;
  border-radius: 30px;
  padding: 2em;
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
  &--pool {
    width: 250px;
  }
  &--alone {
    padding: 4em;
  }
  &__img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: none;
  }
  &__btn {
    background-color: inherit;
    border: solid white 1px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  &__btn--addnew {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: initial;
    padding-left: 2em;
    padding-right: 2em;
    font-size: x-large;
  }
  &__p {
    height: 200px;
  }
}
/* Editor style */
.editor {
  display: flex;
  align-self: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background-color: $dark-grey;
  padding: 5rem;
  width: 80vw;
  height: fit-content;
  border-radius: 20px;
  &__btn {
    width: 200px;
    height: 40px;
    margin: 2em 1em;
    border: none;
    font-style: oblique;
    font-weight: bold;
    font-size: medium;
    &--save {
      color: white;
    }
    &--delete {
      background-color: $dark-grey;
      color: $light-red;
      border: solid 1px $light-red;
    }
  }
}
.input-div {
  position: relative;
  &__input {
    background-color: $light-grey;
    color: white;
    border-radius: 15px;
    padding: 5px;
    border: none;
    margin: 5px;
    width: 83vw;
    font-size: 40px;
    &--name {
      height: 70px;
    }
    &--short {
      height: 50px;
      font-size: 30px;
    }
    &--description {
      height: 150px;
      text-align: left;
      overflow-wrap: normal;
      font-size: 30px;
    }
  }
}
.uploadImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 3px white;
    cursor: pointer;
  }
  &__preview > p {
    position: absolute;
  }
}
.count {
  position: absolute;
  right: 20px;
  bottom: 20%;
}
